@font-face {
    font-family: 'Kalam';
    src:url('./Kalam-Regular.eot');
    src:url('./Kalam-Regular.eot?#iefix') format('embedded-opentype'),
            url('./Kalam-Regular.woff') format('woff'),
            url('./Kalam-Regular.ttf') format('truetype'),
            url('./Kalam-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src:url('./Orbitron-Regular.eot');
    src:url('./Orbitron-Regular.eot?#iefix') format('embedded-opentype'),
            url('./Orbitron-Regular.woff') format('woff'),
            url('./Orbitron-Regular.ttf') format('truetype'),
            url('./Orbitron-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


